$font14: 14px;
$font16: 16px;
$font20: 20px;
$font24: 24px;   
$font36: 36px;
$font48: 48px;
$fontCh: 'Noto Sans TC';
$fontEn:  'Roboto';



.f-N48{
    font-family: $fontCh;
    font-size: $font48;
    color: #000;
}

.f-N36{
    font-family: 'Noto Sans TC';
    font-size: $font36;
    color: #FFFFFF;
}

.f-N24{
    font-family: $fontCh;
    font-size: $font24;
    color: #000;
}

.f-N20{
    font-family: 'Noto Sans TC';
    font-size: $font20;
    color: #FFFFFF;
}

.f-N16{
    font-family: 'Noto Sans TC';
    font-size: $font16;
    color: #FFFFFF;
}

.f-N14{
    font-family: 'Noto Sans TC';
    font-size: $font14;
    color: #FFFFFF;
}

.f-R16{
    font-family: 'Roboto';
    font-size: $font16;
    color: #FFFFFF;
}

.fw-bold{
    font-weight: bold;
}

.bg-AA0601{
    background-color: #AA0601;
}

.d-flex{
    display: flex;
    align-items: center;
}

.d-jcsb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.mr64{
    margin-right: 64px;
}

.mr48{
    margin-right: 48px;
}

.mr32{
    margin-right: 32px;
}

.mb32{
    margin-bottom: 32px;
}

@include mobile{
    .f-N16-M{
        font-size: $font16;
    }
}